@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Responsive tweaks*/
@media screen and (max-width: 600px) {
    /* Navbar */

    /* Body */
    .middle {
        margin-top: 50px;
    }
    .banner {
        padding-top: 80px;
    }

    .middle h1 {
        font-size: 60px;
    }
}

/* Navbar */
ul {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
/* Main */
body {
    height: 1500px;
}

.banner {
    padding-top:17px;
    width: 100%;
    height: 610px;

    /* Image */
    background-image: url(/img/banner2.png);
    background-repeat: no-repeat;
}

.middle {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle h1 {
    font-size: 100px;
    background: -webkit-linear-gradient(rgba(255,129,19,1) 73%, rgba(228,173,125,1) 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle p {
    color: #ff8113 ;
}

.middle a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
